.container {
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_button {
  font-family: "Hind-SemiBold";
  font-size: 16px;
  color: #667085;
  font-weight: 600;
}
